---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import { Schema } from "astro-seo-schema";

export interface Props {
  title: string;
  description?: string;
  image?: string;
  tags?: string;
  createdAt?: Number;
}
const url = Astro.url.href;

const { title, description, image, tags, createdAt } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="canonical" href={url} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Parvez" />
    <meta
      name="keywords"
      content={tags
        ? tags
        : "Free software downloads for Windows, Mac, iOS, Android, Software apps for security, utilities, games, video, browsers, Download free Windows software for security, Mac software apps for games and utilities, iOS app downloads for video and security, Android software utilities and games, Top free software for Mac security, Best video apps for iOS and Android, Windows game software downloads, Mac utility apps for free download, Free security software for iOS devices, Android game apps for download, Browser software for Windows and Mac, Video editing apps for Android and iOS, Free Windows utility software, Mac video player app downloads, iOS browser software free download, Android security app downloads, Software downloads for Mac games, Windows video editing tools, iOS utility software downloads, Android browser app for free, Security software for Windows, Mac gaming software downloads, Free video apps for iOS, Android utility app downloads, Browser software for security, Windows software for video editing, Mac video downloader apps, iOS security app downloads, Android gaming software, Free browser apps for Windows, Mac video editing software, iOS video player app downloads, Android utility software, Windows security app downloads, Mac gaming apps for free, Video downloader apps for iOS, Android browser software downloads, Free Windows software for utilities, Mac security software free download, iOS gaming app downloads, Android video editing tools, Windows utility apps for free, Mac browser software downloads, iOS software for utilities, Android video player app, Free Windows antivirus software, Mac game app downloads, iOS security and privacy apps, Android productivity software, Top-rated Windows apps for video, Mac antivirus software downloads, iOS music player apps, Android communication apps, Free Windows productivity tools, Mac photo editing apps, iOS health and fitness apps, Android social media apps, Windows data security software, Mac entertainment apps, iOS language learning apps, Android photo and video apps, Windows system optimization tools, Mac graphic design software, iOS travel apps, Android navigation apps, Windows multimedia software, Mac productivity apps, iOS weather apps, Android virtual reality apps, Windows password manager software, Mac eBook reader apps, iOS finance and budget apps, Android news apps, Windows backup and recovery tools, Mac cooking and recipe apps, iOS meditation and mindfulness apps, Android parental control apps, Windows document editing software"}
    />

    <meta name="robots" content="index,follow" />

    <!-- open graph -->
    <meta property="og:title" content={title} />
    <meta property="og:site_name" content="https://www.software.10mblogs.xyz" />
    <meta property="og:url" content={url} />
    <meta
      property="og:description"
      content={description
        ? description
        : "10mblogs software provides free downloads for Windows, Mac, iOS and Android devices across all categories of software and apps, including security, utilities, games, video and browsers"}
    />
    <meta property="og:type" content="article" />
    <meta
      property="og:image"
      content={image
        ? image
        : "https://images2.imgbox.com/57/86/tLuH2oxs_o.jpg"}
    />

    {/* google indexing meta tag */}
    <meta
      name="google-site-verification"
      content="t2bQ1p8cAJTr0lMcrtGMULZirb0GlVA_W76s0VcgRnI"
    />

    {/* bing indexing meta tag */}
    <meta name="msvalidate.01" content="CAE2B85CC2AA097D750003ECA98D55AA" />

    {/* <!-- Twitter Card tags --> */}
    <meta
      name="twitter:card"
      content="Discover a World of Diverse Insights | 10mBlogs"
    />
    <meta name="twitter:title" content={title} />
    <meta
      name="twitter:description"
      content={description
        ? description
        : "10mblogs software provides free downloads for Windows, Mac, iOS and Android devices across all categories of software and apps, including security, utilities, games, video and browsers"}
    />
    <meta
      name="twitter:image"
      content={image
        ? image
        : "https://images2.imgbox.com/57/86/tLuH2oxs_o.jpg"}
    />

    <title>{title}</title>
    <meta
      name="description"
      content={description
        ? description
        : "10mblogs software provides free downloads for Windows, Mac, iOS and Android devices across all categories of software and apps, including security, utilities, games, video and browsers"}
    />
    <style>
      @font-face {
        font-family: "Gothic A1";
        src: url("../fonts/GothicA1-Regular.ttf") format("truetype");
      }

      @font-face {
        font-family: "Inter";
        src: url("../fonts/Inter-Regular.ttf") format("truetype");
      }
      :root {
        --primary-color: #fff;
        --secondary-color: #11cbff;
      }
      html,
      body {
        scroll-behavior: smooth !important;
        margin: 0;
        padding: 0;
      }
    </style>

    <script type="application/ld+json">
      {
        "@context": "https://schema.org/",
        "@type": "BreadcrumbList",
        "itemListElement": [
          {
            "@type": "ListItem",
            "position": 1,
            "name": "Home",
            "item": "https://www.software.10mblogs.xyz/"
          },
          {
            "@type": "ListItem",
            "position": 2,
            "name": "Windows",
            "item": "https://www.software.10mblogs.xyz/category=windows"
          },
          {
            "@type": "ListItem",
            "position": 3,
            "name": "Mac",
            "item": "https://www.software.10mblogs.xyz/category=mac"
          },
          {
            "@type": "ListItem",
            "position": 4,
            "name": "Android",
            "item": "https://www.software.10mblogs.xyz/category=android"
          },
          {
            "@type": "ListItem",
            "position": 5,
            "name": "Ios",
            "item": "https://www.software.10mblogs.xyz/category=ios"
          },
          {
            "@type": "ListItem",
            "position": 6,
            "name": "BLog",
            "item": "https://www.10mblogs.xyz/"
          }
        ]
      }
    </script>
    {
      createdAt && (
        <Schema
          item={{
            "@context": "https://schema.org",
            "@type": "BlogPosting",
            headline: { title },
            image: { image },
            author: {
              "@type": "Person",
              name: "Parvez",
            },
            publisher: {
              "@type": "Organization",
              name: "10mblogs.xyz",
              logo: {
                "@type": "ImageObject",
                url: "https://res.cloudinary.com/drxcxwm7x/image/upload/v1688977462/logo_paqhak.png",
              },
            },
            datePublished: { createdAt },
          }}
        />
      )
    }
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
